.App {
  text-align: center;
  background-color: burlywood;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: rgb(158, 158, 255);
}

.App-title {
  font-size: 1.0em;
}

.App-intro {
  font-size: large;
}
